<a href="https://colab.research.google.com/github/jlin246/Micro-credentials-Jan-2022-BSNS/blob/main/python/Unit3/U3L2ex(classwork%20notes).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
faithful_df = pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/311_Service_Requests_from_2019May.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
print(faithful_df)

       Unique Key  ...                                  Location
0        42680103  ...  (40.682565064146196, -73.81406015056832)
1        42530481  ...  (40.738790792032844, -74.00022373020307)
2        42527619  ...   (40.79804015465285, -73.96930001020544)
3        42526597  ...   (40.67590510222738, -73.86665990579837)
4        42526595  ...   (40.76536704921336, -73.93154011254339)
...           ...  ...                                       ...
69632    42634163  ...    (40.81459022279005, -73.9138921969276)
69633    42624568  ...    (40.5493782172547, -74.14025187299927)
69634    42638781  ...    (40.85291902458401, -73.9199659548619)
69635    42637637  ...     (40.694573889726, -73.91089180797395)
69636    42637636  ...   (40.69089111172563, -73.98595118240841)

[69637 rows x 21 columns]

In [3]:
faithful_df.columns
print(faithful_df.to_string)

<bound method DataFrame.to_string of        Unique Key  ...                                  Location
0        42680103  ...  (40.682565064146196, -73.81406015056832)
1        42530481  ...  (40.738790792032844, -74.00022373020307)
2        42527619  ...   (40.79804015465285, -73.96930001020544)
3        42526597  ...   (40.67590510222738, -73.86665990579837)
4        42526595  ...   (40.76536704921336, -73.93154011254339)
...           ...  ...                                       ...
69632    42634163  ...    (40.81459022279005, -73.9138921969276)
69633    42624568  ...    (40.5493782172547, -74.14025187299927)
69634    42638781  ...    (40.85291902458401, -73.9199659548619)
69635    42637637  ...     (40.694573889726, -73.91089180797395)
69636    42637636  ...   (40.69089111172563, -73.98595118240841)

[69637 rows x 21 columns]>

In [4]:
faithful_df.head(5)

   Unique Key  ...                                  Location
0    42680103  ...  (40.682565064146196, -73.81406015056832)
1    42530481  ...  (40.738790792032844, -74.00022373020307)
2    42527619  ...   (40.79804015465285, -73.96930001020544)
3    42526597  ...   (40.67590510222738, -73.86665990579837)
4    42526595  ...   (40.76536704921336, -73.93154011254339)

[5 rows x 21 columns]

In [5]:
faithful_df.head(10)

   Unique Key  ...                                  Location
0    42680103  ...  (40.682565064146196, -73.81406015056832)
1    42530481  ...  (40.738790792032844, -74.00022373020307)
2    42527619  ...   (40.79804015465285, -73.96930001020544)
3    42526597  ...   (40.67590510222738, -73.86665990579837)
4    42526595  ...   (40.76536704921336, -73.93154011254339)
5    42524590  ...    (40.7263640809953, -73.98332077635699)
6    42530673  ...   (40.723414081593475, -73.9883109901953)
7    42529368  ...   (40.71190849281292, -74.00584349605568)
8    42526596  ...   (40.723414081593475, -73.9883109901953)
9    42519734  ...  (40.603139635103894, -73.75314685334116)

[10 rows x 21 columns]

In [6]:
faithful_df.count()

Unique Key                69637
Created Date              69637
Closed Date               64626
Agency                    69637
Complaint Type            69637
Location Type             53978
Incident Zip              67389
Incident Address          59033
Street Name               59032
Address Type              68307
City                      67416
Landmark                     16
Facility Type             24081
Status                    69637
Due Date                  32839
Resolution Description    63579
BBL                       55702
Borough                   69637
Latitude                  65634
Longitude                 65634
Location                  65634
dtype: int64

In [7]:
faithful_df.describe()

         Unique Key           BBL      Latitude     Longitude
count  6.963700e+04  5.570200e+04  65634.000000  65634.000000
mean   4.260307e+07  2.869652e+09     40.723149    -73.924517
std    5.269818e+04  1.184250e+09      0.083621      0.085089
min    4.251278e+07  0.000000e+00     40.500025    -74.252279
25%    4.258004e+07  2.030690e+09     40.664461    -73.972161
50%    4.260019e+07  3.034830e+09     40.716443    -73.929758
75%    4.262095e+07  4.023330e+09     40.780783    -73.874064
max    4.297343e+07  5.080480e+09     40.912869    -73.700597

In [8]:
faithful_df.max()

Unique Key             42973430
Created Date      5/9/2019 9:59
Agency                      TLC
Complaint Type     Window Guard
Status                  Started
BBL                 5.08048e+09
Borough             Unspecified
Latitude                40.9129
Longitude              -73.7006
dtype: object

In [9]:
new_df= faithful_df.drop(columns = 'Location Type', axis = 1)
new_df.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Complaint Type',
       'Incident Zip', 'Incident Address', 'Street Name', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'BBL', 'Borough', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')