<a href="https://colab.research.google.com/github/jlin246/Micro-credentials-Jan-2022-BSNS/blob/main/Unit%202%20-%20Python%20Fundamentals/Assignments/Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [2]:
numbers_1to5 = range(1,6)

## 2.	Print out those variables by using a for loop

In [3]:
for numbers in numbers_1to5:
  print(numbers)

1
2
3
4
5

## 3.	Modify your for loop to add a message to your for loop.

In [4]:
for numbers in numbers_1to5:
  print(str(numbers) + ' is a number between 1 and 5 inclusive')

1 is a number between 1 and 5 inclusive
2 is a number between 1 and 5 inclusive
3 is a number between 1 and 5 inclusive
4 is a number between 1 and 5 inclusive
5 is a number between 1 and 5 inclusive

## 4.	Use a for loop to print even numbers from 1-20.

In [7]:
for numbers in range(0,21,2):
  print(numbers)

0
2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [9]:
favorite_shows = ['West Wings' , 'The Newsroom', 'American Greed' ,'Friends', 'Simpsons']
for shows in sorted(favorite_shows):
  print(shows)

American Greed
Friends
Simpsons
The Newsroom
West Wings

## 6.	Print out the first three elements of your list.

In [12]:
for shows in range(0,3):
  print(favorite_shows[shows])

West Wings
The Newsroom
American Greed

## 7.	Create a loop to print the last 2 elements of your list.

In [14]:
for shows in range(1,3):
  print(favorite_shows[-shows])

Simpsons
Friends