<a href="https://colab.research.google.com/github/jlin246/Micro-credentials-Jan-2022-BSNS/blob/main/python/Unit%203/Unit3_NumPy_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [ ]:
import numpy as np

In [ ]:
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

<StringArray>
['GBR', 'China', 'RUS', 'US', 'KOR', 'JPN', 'GER']
Length: 7, dtype: string

## 2.	Find country with maximum gold

In [ ]:
maximum = max(np_olympic_country_Gold)
#print(maximum)
number = 0
for i in np_olympic_country_Gold:
  if i == maximum:
    number = number
    break
  else:
    number += 1
#print(number)
country_with_maximum_gold = np_olympic_country[number]
print('The country with maximum gold is ' + country_with_maximum_gold + ' with ' + str(maximum) + ' gold medals.')

The country with maximum gold is US with 46 gold medals.

## 3.	Find countries with more than 20 gold medals

In [ ]:
filter_index = []
countries_20gold = []
number = 0
for i in np_olympic_country_Gold:
  if i > 20:
#    filter_index.append(number)
    countries_20gold.append(np_olympic_country[number])
    number += 1
  else:
    number += 1
#for i in filter_index:
#  countries_20gold.append(np_olympic_country[i])
print(countries_20gold)

['GBR', 'China', 'RUS', 'US']